<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script>
    var pollCount = 0;

    function loaded() {
        Array.prototype.forEach.call(document.getElementsByClassName('txt'), function (i) {
            i.className += ' invisible';
        });
    }

    function fill(template, fillers) {
        return Object.keys(fillers).reduce(function (accum, a) {
            return accum.split('{{' + a + '}}').join(fillers[a]);
        }, template)
    }

    function waitForResults() {
        pollCount += 1;
        if(pollCount > 50) {
            $('#mainDiv').html('FAILED TO CLASSIFY! PLEASE TRY AGAIN')
            return;
        }

        $.ajax('/waiting/{{imgIndex}}', {
            dataType: 'json',
            success: function (res) {
                // Poll the endpoint until it's no longer in progress
                if(res.in_progress) {
                    setTimeout(waitForResults, 500)
                    return
                }

                $('#mainDiv').addClass('invisible');
                $('#classifiedDiv').removeClass('invisible');

                const [top1, thresh1, top5] = res.classifications

                var species = top1.name.split('.').join(' ');
                var leafProb = (top1.probability * 100).toString().substr(0, 4);

                var node = thresh1.name.split('.').join(' ');
                var nodeProb = (thresh1.probability * 100).toString().substr(0, 4);

                images.original = res.original_image;
                images.activations = res.saliency_image;

                $('#imge').attr('src', 'data:image/jpeg;base64,' + images.original);
                $('#imgeActivations').attr('src', 'data:image/jpeg;base64,' + images.activations);

                $('.mouseoverables').mouseover(function() {
                    $('.mouseoverables').removeClass('transparent');
                }).mouseout(function() {
                    $('.mouseoverables').addClass('transparent');
                });

                $('#leaf').attr('href', 'http://google.com/search?q=' + species).html(species);
                $('#leafProb').html(leafProb);


                for(var i = 1; i < 5; i++) {
                    $('#rest' + (i-1)).html(top5[i].name.split('.').join(' ') + ': ' + (top5[i].probability * 100).toString().substr(0, 4) + '%');
                }

                if (node != species) {
                    $('#nodeInfo').removeClass('invisible');
                    $('#node').attr('href', 'http://google.com/search?q=' + node).html(node);
                    $('#nodeProb').html(nodeProb);
                }

                if(res.priors !== '') {
                    $('#usedPriors').removeClass('invisible');
                    $('#usedPriors').html('<span>PRIORS USED: ' + res.priors + ' </span></br>');
                }


            },
            failure: function() {
                // If failed, we wait again
                setTimeout(waitForResults, 500)
            }
        })
    }

    var images = {};

    window.onload = waitForResults

    function showRest() {
        $('#restDiv').removeClass('invisible');
    }
</script>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<style>
    .invisible {
        display: none !important;
    }

    .transparent {
        opacity: 0 !important;
    }

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #b5faff;
    }

    .txt {
        font-weight: 400;
        font-size: 20px;
        font-family: 'Roboto', 'sans-serif';
        background-color: black;
        color: #b5faff;
        display: inline-block;
        padding: 20px;
    }

    .absImg {
        left: 0;
        top: 0;
        position: absolute;
    }

    #imgeActivations {
        mix-blend-mode: screen;
    }



    a {
        color: white;
    }
</style>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div id='mainDiv' align="center">
    <div class='txt'> Waiting on classification...</div>
    <p></p>
    <div class='txt'>There are approx. {{queued}} images in queue</div>
    <p></p>
    <div class='txt'> This will take ~{{timeRemaining}} seconds</div>
</div>

<div id="classifiedDiv" class="invisible" align="center">

    <div class='txt'>
        I AM <span id='leafProb'> </span>% SURE THIS IS A </br>
        <a id="leaf" href=""> </a> </br>
    </div>

    <p/>
    <div id='restDiv' class='invisible'>
        <span class='txt' id='rest0'></span>
        <p/>
        <span class='txt' id='rest1'></span>
        <p/>
        <span class='txt' id='rest2'></span>
        <p/>
        <span class='txt' id='rest3'></span>
    </div> 

    <p></p>

    <div id="nodeInfo" class='txt invisible'>
        OTHERWISE I AM <span id='nodeProb'> </span>% SURE THIS BELONGS TO </br>
        <a id="node" href=""> </a> </br>
    </div>
    <p/> 
    <div class='txt'>
        <a onclick='showRest()' href='#'> VIEW REST </a>
    </div>
    
    <p></p>
    <div class='txt invisible' id='usedPriors'>
    </div>

    <div style="display: block; margin-top: 20px; width: 299px; height: 299px; position: relative;">
        <img id="imge" style="width: 299px; height: 299px" class="absImg" alt="This is the crop used by the neural network">
        <div style="width: 299px; height: 299px; background-color: black; opacity: 0.9; mix-blend-mode: multiply;" class="absImg mouseoverables transparent"></div>
        <img id="imgeActivations" class="mouseoverables absImg transparent" alt="This is the crop used by the neural network">
    </div>


    <p class='txt'>
        <a href='/classify'> CLASSIFY ANOTHER! </a>
    </p>

</div>


</body>
