<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
body {
  background-color: #b5faff;
}

.title {
  font-weight: 300;
  font-size: 40px;
  font-family: 'Roboto', 'sans-serif';
  background-color: black;
  color: #b5faff;
  display: inline-block;
  padding: 20px;
  font-style: italic;
  padding-right: 24px;
}

.mybutton {
  border-radius: 0px;
  color: white;
  font-weight: 500;
  font-family: 'Roboto', 'sans-serif';
}

</style>



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<p></p>
<div align="center">
  <div class='title'>SPECIES CLASSIFIER (mobile) </div>
  <p> Note that the classifier takes a central square crop of the supplied image </p>
  <form id='fileform'>
    
    <div style="height:0px;overflow:hidden">
      <input id="fileInput" type="file" name="example" accept="image/*">
    </div>
    <button class="btn btn-primary mybutton" type="button" onclick="chooseFile()">PICK IMAGE</button>
  
  <img style="padding: 20px;display: block;width: 300px;" id="image"/>
    
    <button id='submitBtn' class="btn btn-danger mybutton" type="button" onclick="doSubmit()">CLASSIFY</button>
  </form>
</div>

</body>

<script>
document.getElementById("fileInput").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // poll the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};

function scale(file, cb) {
    const [width, height] = [299, 299];

    const fileName = file.name;
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = event => {
        const img = new Image();
        img.src = event.target.result;
        img.onload = () => {
                const elem = document.createElement('canvas');
                elem.width = width;
                elem.height = height;
                const ctx = elem.getContext('2d');
                // img.width and img.height will contain the original dimensions
                ctx.drawImage(img, 0, 0, width, height);
                ctx.canvas.toBlob((blob) => {
                    const scaledFile = new File([blob], fileName, {
                        type: 'image/jpeg',
                        lastModified: Date.now()
                    });

                    cb(scaledFile)
                }, 'image/jpeg', 1);
            },
            reader.onerror = error => console.log(error);
    };
}

window.onload = function() {
    var input = document.getElementById('fileInput');
    if(input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('image').src = e.target.result;
        }
        reader.readAsDataURL(input.files[0]);
    }
}   
function doSubmit() {
  var acceptables = ['png', 'jpg', 'jpeg', 'tiff', 'tif', 'bmp'];

  var file = document.getElementById('fileInput').files[0];
  if(file)
  {
    if(acceptables.indexOf(file.name.split('.').pop().toLowerCase()) > -1) {
      document.getElementById('submitBtn').innerHTML = 'Uploading......';

      scale(file, scaledFile => {
        formData = FormData()
        formData.append(scaledFile)

        var request = new XMLHttpRequest();
        request.open("POST", "/classify-upload");
        request.send(formData);
      })
    } else {
      alert('File must be a .jpg .jpeg or a .png');
    }
  }
  else
      alert('File is not chosen!');
}


function chooseFile() {
  $("#fileInput").click();
}
</script>



</html>
